@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center h-50 ";>
    <h1 class="display-4 fw-bold">Welkom bij KwikKwekSnack!</h1>
    <p>Het lekkerste restaurant van 's Hertogenbosch!</p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("SnackPage", "Order")'">Plaats een bestelling</button>
</div>